.my-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    grid-auto-rows: auto;
}
@media (max-width: 550px) {
    .my-grid {
        grid-template-columns: 1fr; 
    }
}
@media (min-width: 551px) and (max-width: 768px) {
    .my-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}
