.my-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    padding: 1rem;
    gap: 1rem;
    grid-auto-rows: minmax(120px, auto);

}
@media (max-width: 550px) {
    .my-grid {
        grid-template-columns: 1fr; 
    }
}
@media (min-width: 551px) and (max-width: 768px) {
    .my-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}
