header{
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--gutter);
  background: transparent;
  color: var(--text);
  width: 100%;
  
  border: solid 0px var(--muted);
  border-bottom-width: 1px;
}


footer{
  height: var(--footer-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--gutter);
  background: transparent;
  color: var(--text);
  width: 100%;
  
  border: solid 0px var(--muted);
  border-top-width: 1px;
}