/* =====================================================
  App.css
  Estilos de layout da aplicação
  - Estrutura principal (header, main, footer)
  - Controle de altura e espaçamento
  - Comportamento visual da SPA
===================================================== */

header {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--gutter);
  background: transparent;
  color: var(--text);
  width: 100%;

  border: solid 0px var(--muted);
  border-bottom-width: 1px;
}

main {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: center;

  padding: var(--gutter);
  min-height: calc(
    100vh - var(--header-height) - var(--footer-height)
  );
}

footer {
  height: var(--footer-height);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0 var(--gutter);
  background: transparent;
  color: var(--muted);

  border: solid 0px var(--muted);
  border-top-width: 1px;
}


@media (max-width: 600px) {
  header,
  footer {
    padding: 0 var(--gutter-mobile);
    position: static;
  }
  main {
    padding: var(--gutter-mobile);
  }
}
@media (max-width: 400px) {
  header,
  footer {
    padding: 0 var(--gutter-mobile);
    position: static;
  }
  main {
    padding: var(--gutter-mobile);
  }
}